<h1>Edit Recommendation</h1>

<%= render 'form', recommendation: @recommendation %>

<%= link_to 'Show', @recommendation, class: 'nav-links' %> |
<%= link_to 'Back', recommendations_path, class: 'nav-links' %>
