
<div> <%= link_to 'New Recommendation', new_recommendation_path, class: "btn btn-secondary, new-rec-link" if logged_in?(:site_admin)%> </div>

<h1>Recommendations</h1>

<%= render partial: @recommendations %>


