<p id="notice"><%= notice %></p>

<h1>Recommendations</h1>

<%= link_to 'New Recommendation', new_recommendation_path %>

    <div>
      <p>Title</p>
      <p>Fandoms</p>
      <p>Summary</p>
      <p>Author</p>
      <p>Genre</p>
      <p>Length</p>
      <p>Rating</p>
      <p>Complete</p>
      <p>Recommended by</p>
    </div>

<div>
  <%= render @recommendations %>
</div>

<br>


