
<div> <%= link_to 'New Recommendation', new_recommendation_path, class: "btn btn-secondary, new-rec-link" if logged_in?(:site_admin)%> </div>

<h1>Recommendations</h1>

<div class = "row">
  <div class = "col-9">
  <%= render partial: @recommendations %>
  </div>
  <div class = "col-3">
    <a class="twitter-timeline" data-height="600" data-theme="light" href="https://twitter.com/davidgaider">Tweets by davidgaider</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>




