<h1>What's Rec'd</h1>
<p>Tired of Searching Fanfiction.net, Archive of Our Own, or LiveJournal for a good, long Dragon Age fic starring your favorite characters?</p>

<p>You've come to the right place.</p>

<p>No crack fic</p>

<p>Fics selected by a team of currators</p>

<p>Less searching, more reading!</p>