<h1>What's Rec'd</h1>

<p>Rec'd is a curated archive for fanfiction related to the Dragon Age media franchise. <br>
All fics linked in this archive come from external sources such as Fanfiction.net, Archive of Our Own, or LiveJournal.</p> <br>
Each story is read for quality and then uploaded to the site by a team of curators who do the vetting for you.

<p>Less searching for great fic, more reading!</p>
