<h1>Contact Us</h1>

<p>Want to submit a recommendation?</p>

<p><a href="mailto:submissions@recd.com?subject=Fic Recommendation">submissions@recd.com</a></p>

<p>Have a question or need support?</p>

<p><a href="mailto:help@recd.com?">questions@recd.com</a></p>

<p>Want to become a curator?</p>

<p><a href="mailto:apply@recd.com?subject=Curator Application">apply@recd.com</a></p>