<h1>Contact Us</h1>

<p>Want to submit a recommendation?</p>

<p><a href="mailto:submissions@recd.com?subject=Fic Recommendation">submissions@recd.com</a></p>

<p>Have a question or need support?</p>

<p><a href="mailto:help@recd.com?">submissions@recd.com</a></p>