<div class = faqs>
  <h1>FAQs</h1>

  <strong><h5 class = "faq">What are the guidelines for this archive?</h5></strong>
  <em><p class = "faq-answ">All recommendations in this archive are at least 5000 words long. No crack fic (a story which takes a ridiculous premise at its starting point) is permitted. Any Warden, Hawke, or Inquisitor must be non-male. </p></em>
  <br>


  <strong><h5 class = "faq">What do the ratings for each recommendation mean?</h5></strong>
  <em><p class = "faq-answ">Ratings follow the guidelines set <span><a class = "faq-link" href = "https://www.fictionratings.com/">here.</a></span></p></em>
  <br>

  <strong><h5 class = "faq">Can I add a recommendation myself?</h5></strong>
  <em><p class = "faq-answ">Not yet, but soon! In order to maintain the quality of each recommendation, only site administrators can currently submit recommendations.</p></em>
  <br>

  <strong><h5 class = "faq">How do I become a curator?</h5></strong>
  <em><p class = "faq-answ">Email us <span><a class = "faq-link" href="mailto:apply@recd.com?">here</a></span> to learn more!</p></em>
  <br>

  <strong><h5 class = "faq">Will you eventually curate other fandoms?</h5></strong>
  <em><p class = "faq-answ">Yes, absolutely. Feel free to <span><a class = "faq-link" href="mailto:help@recd.com?">suggest</a></span> some!</p></em>
  <br>

  <strong><h5 class = "faq">Are you going to make an app for mobile devices?</h5></strong>
  <em><p class = "faq-answ">I personally read fic on my phone 90% of the time, so yes. Someday.</p></em>
  <br>
</div>
