<div class="inner cover">
  <h1 class="cover-heading">Curated Dragon Age Fanfiction</h1>
  <p class="lead">Rec'd is a curated site for Dragon Age fiction. Recommend and review your favorite f!lead fiction!</p>
  <p class="lead">
    <%= link_to "Learn More", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
